body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

.parent{
    width: 60vw;
    position: relative;
    margin: auto;
}

.container{
    display: grid;
    place-content: center;
    height: 90vh;
    grid-template-columns: 63% auto;
    grid-template-rows: auto;
}

.left{
    margin-right: 10px;
    margin-bottom: auto;
    margin-top: auto;
    background-color: gray;
    border: 1px solid black;
}

.left > div{
    text-align: center;
    margin: 10px 5px;
}

.right{
    margin: auto;
}

.image{
    background-color: gray;
    border: 1px solid black;
    line-height: 0;
}

.container2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "a . b";
}

.a{
    grid-area: a;
}

.b{
    text-align: right;
    grid-area: b;
}